attr
brotli
brotlicffi
ConfigParser
contextlib2
coverage
cryptography
cvzone
dl
docutils
filelock
flask
h2
HTMLParser
ipython
ipywidgets
Jinja2
js
keyring
lxml
mock
mediapipe
Pillow
protobuf
pyOpenSSL
pyOpenSSL
python-pptx
pythran
railroad
redis
runtests
simplejson
Spire.Presentation
Sphinx
thread
tornado
trove_classifiers
unoconv
urllib3_secure_extra
zstandard
